In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Train.csv")

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [4]:
column_drop=["name","boat","body","home.dest","cabin","embarked","ticket"]

In [5]:
data_clean=df.drop(column_drop,axis=1)

In [6]:
data_clean.head()

   pclass  survived     sex   age  sibsp  parch    fare
0     3.0       0.0  female   NaN    0.0    0.0   7.750
1     2.0       0.0    male  39.0    0.0    0.0  26.000
2     2.0       1.0  female  40.0    0.0    0.0  13.000
3     3.0       1.0  female  31.0    1.0    1.0  20.525
4     3.0       1.0  female   NaN    2.0    0.0  23.250

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data_clean["sex"] = le.fit_transform(data_clean["sex"])

In [8]:
data_clean

      pclass  survived  sex   age  sibsp  parch      fare
0        3.0       0.0    0   NaN    0.0    0.0    7.7500
1        2.0       0.0    1  39.0    0.0    0.0   26.0000
2        2.0       1.0    0  40.0    0.0    0.0   13.0000
3        3.0       1.0    0  31.0    1.0    1.0   20.5250
4        3.0       1.0    0   NaN    2.0    0.0   23.2500
5        2.0       0.0    1  16.0    0.0    0.0   26.0000
6        2.0       0.0    1  43.0    0.0    1.0   21.0000
7        1.0       1.0    0  49.0    0.0    0.0   25.9292
8        1.0       0.0    1  48.0    0.0    0.0   50.4958
9        2.0       0.0    1   NaN    0.0    0.0   12.8750
10       2.0       0.0    1  21.0    2.0    0.0   73.5000
11       3.0       1.0    0   NaN    0.0    0.0    7.8292
12       2.0       1.0    0  48.0    0.0    2.0   36.7500
13       2.0       1.0    1   8.0    1.0    1.0   36.7500
14       3.0       0.0    1  22.0    0.0    0.0    7.8958
15       1.0       0.0    1   NaN    0.0    0.0   35.0000
16       1.0       1.0    0  39.0    1.0    1.0  110.8833
17       3.0       0.0    0  30.5    0.0    0.0    7.7500
18       2.0       0.0    1   NaN    0.0    0.0   15.0500
19       3.0       0.0    1  16.0    2.0    0.0   18.0000
20       1.0       1.0    0  55.0    2.0    0.0   25.7000
21       1.0       1.0    1  80.0    0.0    0.0   30.0000
22       2.0       1.0    0  17.0    0.0    0.0   12.0000
23       2.0       1.0    0  28.0    0.0    0.0   13.0000
24       3.0       0.0    1  21.0    0.0    0.0    7.8958
25       2.0       0.0    1  52.0    0.0    0.0   13.5000
26       3.0       1.0    1  21.0    0.0    0.0    7.7750
27       1.0       0.0    1  47.0    0.0    0.0   42.4000
28       3.0       0.0    0   9.0    2.0    2.0   34.3750
29       3.0       0.0    1   8.0    4.0    1.0   29.1250
...      ...       ...  ...   ...    ...    ...       ...
979      3.0       0.0    1  36.0    1.0    0.0   15.5500
980      3.0       0.0    1  21.0    0.0    0.0    7.2250
981      3.0       1.0    0  27.0    0.0    1.0   12.4750
982      2.0       0.0    1  36.0    0.0    0.0   13.0000
983      3.0       0.0    1  21.0    2.0    0.0   24.1500
984      2.0       1.0    0  34.0    0.0    0.0   13.0000
985      1.0       1.0    0  55.0    0.0    0.0   27.7208
986      3.0       1.0    1   NaN    1.0    1.0   22.3583
987      1.0       1.0    0  39.0    1.0    0.0   55.9000
988      3.0       0.0    1  24.0    0.0    0.0    7.8958
989      3.0       0.0    0   NaN    0.0    0.0    7.7500
990      3.0       1.0    1  20.0    0.0    0.0    7.9250
991      1.0       1.0    0  33.0    1.0    0.0   90.0000
992      3.0       1.0    0   NaN    0.0    0.0    7.7500
993      1.0       1.0    0  45.0    1.0    0.0   52.5542
994      3.0       1.0    0  23.0    0.0    0.0    8.0500
995      2.0       1.0    1   1.0    0.0    2.0   37.0042
996      3.0       0.0    1  34.5    0.0    0.0    7.8292
997      3.0       0.0    1  32.0    0.0    0.0   22.5250
998      2.0       1.0    0  19.0    0.0    0.0   13.0000
999      1.0       1.0    0  35.0    0.0    0.0  135.6333
1000     3.0       0.0    0  28.0    1.0    1.0   14.4000
1001     2.0       0.0    1  40.0    0.0    0.0   16.0000
1002     1.0       1.0    0  22.0    0.0    1.0   55.0000
1003     3.0       0.0    1  25.0    0.0    0.0    7.0500
1004     1.0       1.0    1  40.0    0.0    0.0   31.0000
1005     3.0       0.0    0  37.0    0.0    0.0    9.5875
1006     1.0       1.0    0  23.0    1.0    0.0  113.2750
1007     3.0       1.0    1  12.0    1.0    0.0   11.2417
1008     3.0       0.0    1  30.0    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [9]:
data_clean = data_clean.fillna(data_clean["age"].mean())

In [12]:
from sklearn.impute import SimpleImputer
si=SimpleImputer()
si.fit_transform(data_clean)

array([[  3.    ,   0.    ,   0.    , ...,   0.    ,   0.    ,   7.75  ],
       [  2.    ,   0.    ,   1.    , ...,   0.    ,   0.    ,  26.    ],
       [  2.    ,   1.    ,   0.    , ...,   0.    ,   0.    ,  13.    ],
       ...,
       [  1.    ,   1.    ,   0.    , ...,   1.    ,   0.    , 113.275 ],
       [  3.    ,   1.    ,   1.    , ...,   1.    ,   0.    ,  11.2417],
       [  3.    ,   0.    ,   1.    , ...,   0.    ,   0.    ,   8.05  ]])

In [13]:
data_clean

      pclass  survived  sex        age  sibsp  parch      fare
0        3.0       0.0    0  29.838978    0.0    0.0    7.7500
1        2.0       0.0    1  39.000000    0.0    0.0   26.0000
2        2.0       1.0    0  40.000000    0.0    0.0   13.0000
3        3.0       1.0    0  31.000000    1.0    1.0   20.5250
4        3.0       1.0    0  29.838978    2.0    0.0   23.2500
5        2.0       0.0    1  16.000000    0.0    0.0   26.0000
6        2.0       0.0    1  43.000000    0.0    1.0   21.0000
7        1.0       1.0    0  49.000000    0.0    0.0   25.9292
8        1.0       0.0    1  48.000000    0.0    0.0   50.4958
9        2.0       0.0    1  29.838978    0.0    0.0   12.8750
10       2.0       0.0    1  21.000000    2.0    0.0   73.5000
11       3.0       1.0    0  29.838978    0.0    0.0    7.8292
12       2.0       1.0    0  48.000000    0.0    2.0   36.7500
13       2.0       1.0    1   8.000000    1.0    1.0   36.7500
14       3.0       0.0    1  22.000000    0.0    0.0    7.8958
15       1.0       0.0    1  29.838978    0.0    0.0   35.0000
16       1.0       1.0    0  39.000000    1.0    1.0  110.8833
17       3.0       0.0    0  30.500000    0.0    0.0    7.7500
18       2.0       0.0    1  29.838978    0.0    0.0   15.0500
19       3.0       0.0    1  16.000000    2.0    0.0   18.0000
20       1.0       1.0    0  55.000000    2.0    0.0   25.7000
21       1.0       1.0    1  80.000000    0.0    0.0   30.0000
22       2.0       1.0    0  17.000000    0.0    0.0   12.0000
23       2.0       1.0    0  28.000000    0.0    0.0   13.0000
24       3.0       0.0    1  21.000000    0.0    0.0    7.8958
25       2.0       0.0    1  52.000000    0.0    0.0   13.5000
26       3.0       1.0    1  21.000000    0.0    0.0    7.7750
27       1.0       0.0    1  47.000000    0.0    0.0   42.4000
28       3.0       0.0    0   9.000000    2.0    2.0   34.3750
29       3.0       0.0    1   8.000000    4.0    1.0   29.1250
...      ...       ...  ...        ...    ...    ...       ...
979      3.0       0.0    1  36.000000    1.0    0.0   15.5500
980      3.0       0.0    1  21.000000    0.0    0.0    7.2250
981      3.0       1.0    0  27.000000    0.0    1.0   12.4750
982      2.0       0.0    1  36.000000    0.0    0.0   13.0000
983      3.0       0.0    1  21.000000    2.0    0.0   24.1500
984      2.0       1.0    0  34.000000    0.0    0.0   13.0000
985      1.0       1.0    0  55.000000    0.0    0.0   27.7208
986      3.0       1.0    1  29.838978    1.0    1.0   22.3583
987      1.0       1.0    0  39.000000    1.0    0.0   55.9000
988      3.0       0.0    1  24.000000    0.0    0.0    7.8958
989      3.0       0.0    0  29.838978    0.0    0.0    7.7500
990      3.0       1.0    1  20.000000    0.0    0.0    7.9250
991      1.0       1.0    0  33.000000    1.0    0.0   90.0000
992      3.0       1.0    0  29.838978    0.0    0.0    7.7500
993      1.0       1.0    0  45.000000    1.0    0.0   52.5542
994      3.0       1.0    0  23.000000    0.0    0.0    8.0500
995      2.0       1.0    1   1.000000    0.0    2.0   37.0042
996      3.0       0.0    1  34.500000    0.0    0.0    7.8292
997      3.0       0.0    1  32.000000    0.0    0.0   22.5250
998      2.0       1.0    0  19.000000    0.0    0.0   13.0000
999      1.0       1.0    0  35.000000    0.0    0.0  135.6333
1000     3.0       0.0    0  28.000000    1.0    1.0   14.4000
1001     2.0       0.0    1  40.000000    0.0    0.0   16.0000
1002     1.0       1.0    0  22.000000    0.0    1.0   55.0000
1003     3.0       0.0    1  25.000000    0.0    0.0    7.0500
1004     1.0       1.0    1  40.000000    0.0    0.0   31.0000
1005     3.0       0.0    0  37.000000    0.0    0.0    9.5875
1006     1.0       1.0    0  23.000000    1.0    0.0  113.2750
1007     3.0       1.0    1  12.000000    1.0    0.0   11.2417
1008     3.0       0.0    1  30.000000    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [14]:
input_cols = ['pclass',"sex","age","sibsp","parch","fare"]
output_cols = ["survived"]

X = data_clean[input_cols]
Y = data_clean[output_cols]

print(X.shape,Y.shape)
print(type(X))

(1009, 6) (1009, 1)
<class 'pandas.core.frame.DataFrame'>

In [15]:
def entropy(col):
    
    counts = np.unique(col,return_counts=True)
    N = float(col.shape[0])
    
    ent = 0.0
    
    for ix in counts[1]:
        p  = ix/N
        ent += (-1.0*p*np.log2(p))
    
    return ent

In [16]:
def divide_data(x_data,fkey,fval):
   
    x_right = pd.DataFrame([],columns=x_data.columns)
    x_left = pd.DataFrame([],columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        
        if val > fval:
            x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
            
    return x_left,x_right

In [17]:
def information_gain(x_data,fkey,fval):
    
    left,right = divide_data(x_data,fkey,fval)
    
   
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    
   
    if left.shape[0] == 0 or right.shape[0] ==0:
        return -1000000
    
    i_gain = entropy(x_data.survived) - (l*entropy(left.survived)+r*entropy(right.survived))
    return i_gain

In [18]:
for fx in X.columns:
    print(fx)
    print(information_gain(data_clean,fx,data_clean[fx].mean()))

pclass
0.055456910002982474
sex
0.19274737190850932
age
0.0010525742338489685
sibsp
0.006492394392888956
parch
0.01975608012294816
fare
0.04242793401428169

In [19]:
class DecisionTree:
    
    #Constructor
    def __init__(self,depth=0,max_depth=5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self,X_train):
        
        features = ['pclass','sex','age','sibsp', 'parch', 'fare']
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,ix,X_train[ix].mean())
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making Tree Features is",self.fkey)
        
        #Split Data
        data_left,data_right = divide_data(X_train,self.fkey,self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
         
        #Truly a left node
        if data_left.shape[0]  == 0 or data_right.shape[0] ==0:
            if X_train.survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        #Stop earyly when depth >=max depth
        if(self.depth>=self.max_depth):
            if X_train.survived.mean() >= 0.5:
                self.target = "Survive"
            else:
                self.target = "Dead"
            return
        
        #Recursive Case
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        #You can set the target at every node
        if X_train.survived.mean() >= 0.5:
            self.target = "Survive"
        else:
            self.target = "Dead"
        return
    
    def predict(self,test):
        if test[self.fkey]>self.fval:
            #go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

split = int(0.7*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop=True)

In [20]:
dt = DecisionTree()

In [21]:
split = int(0.6*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop=True)

In [22]:
dt.train(train_data)

Making Tree Features is sex
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is fare
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is parch
Making Tree Features is fare
Making Tree Features is parch
Making Tree Features is sibsp
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is fare
Making Tree Features is age
Making Tree Features is fare
Making Tree Features is fare
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is fare
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is fare
Making Tree Features is sibsp
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is fare
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is age
Making Tree Features is sibsp
Making Tree Features is age
Making Tree Features is parch
Making Tree Features is parch
Making Tree Features is age
Making Tree Features is age
Making Tree Features is age
Making Tree Features is pclass
Making Tree Features is pclass
Making Tree Features is age

In [23]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [24]:
y_pred

['Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Survive',
 'Dead',
 'Survive',
 'Dead',
 'Dead',
 'Survive',
 'Survive',
 'Dead',
 'Dead']

In [25]:
df2=pd.read_csv("Test.csv")

In [26]:
column_drop=["name","boat","body","home.dest","cabin","embarked","ticket"]

In [27]:
data_cleanxt=df2.drop(column_drop,axis=1)

In [28]:
data_cleanxt

     pclass     sex   age  sibsp  parch      fare
0       1.0    male  36.0    0.0    0.0   26.3875
1       3.0  female   NaN    8.0    2.0   69.5500
2       1.0    male   NaN    0.0    0.0   50.0000
3       2.0    male  34.0    0.0    0.0   13.0000
4       2.0    male  28.0    0.0    0.0   13.0000
5       2.0  female  31.0    1.0    1.0   26.2500
6       1.0    male  40.0    0.0    0.0   27.7208
7       3.0    male   NaN    0.0    0.0    7.2292
8       3.0    male  22.0    0.0    0.0    8.0500
9       1.0    male  30.0    0.0    0.0   45.5000
10      3.0    male   NaN    0.0    0.0    7.2250
11      3.0    male   NaN    1.0    0.0   24.1500
12      1.0    male  31.0    0.0    0.0   28.5375
13      3.0    male   NaN    0.0    0.0    8.0500
14      2.0  female  19.0    1.0    0.0   26.0000
15      3.0    male   NaN    0.0    0.0    7.5500
16      3.0    male   NaN    1.0    0.0    7.7500
17      2.0  female  34.0    0.0    0.0   10.5000
18      3.0  female   NaN    0.0    0.0    7.8792
19      2.0    male  16.0    0.0    0.0   10.5000
20      1.0  female  22.0    0.0    0.0  151.5500
21      3.0    male  21.0    0.0    0.0    7.7500
22      3.0  female  39.0    1.0    5.0   31.2750
23      2.0    male  19.0    0.0    0.0   10.5000
24      3.0    male  26.0    2.0    0.0    8.6625
25      2.0  female  44.0    1.0    0.0   26.0000
26      3.0  female  21.0    2.0    2.0   34.3750
27      3.0  female   NaN    0.0    0.0    7.2250
28      1.0  female  42.0    0.0    0.0  227.5250
29      1.0    male   NaN    0.0    0.0   30.6958
..      ...     ...   ...    ...    ...       ...
270     2.0  female  42.0    0.0    0.0   13.0000
271     1.0    male  24.0    1.0    0.0   82.2667
272     3.0    male  27.0    0.0    0.0    7.2250
273     1.0    male  42.0    0.0    0.0   42.5000
274     3.0  female  41.0    0.0    2.0   20.2125
275     3.0    male   NaN    0.0    0.0    7.7500
276     3.0    male  33.0    0.0    0.0    9.5000
277     1.0    male   NaN    0.0    0.0   39.6000
278     2.0  female  28.0    1.0    0.0   24.0000
279     3.0    male  32.0    0.0    0.0    8.3625
280     3.0  female   4.0    0.0    1.0   13.4167
281     3.0    male   NaN    0.0    0.0    7.7500
282     2.0  female  41.0    0.0    1.0   19.5000
283     1.0    male  36.0    1.0    2.0  120.0000
284     3.0  female   NaN    0.0    0.0    7.7792
285     1.0    male  55.0    0.0    0.0   50.0000
286     3.0    male  27.0    0.0    0.0    8.6625
287     1.0  female  22.0    0.0    2.0   49.5000
288     1.0  female  40.0    1.0    1.0  134.5000
289     1.0    male  45.0    1.0    0.0   83.4750
290     3.0  female  22.0    0.0    0.0    7.7250
291     1.0    male  25.0    1.0    0.0   55.4417
292     3.0  female  37.0    0.0    0.0    7.7500
293     3.0    male  36.5    1.0    0.0   17.4000
294     2.0    male  30.0    0.0    0.0   13.0000
295     3.0  female  29.0    0.0    0.0    7.9250
296     1.0  female  39.0    1.0    1.0   83.1583
297     3.0    male  13.0    4.0    2.0   31.3875
298     3.0    male   NaN    2.0    0.0   21.6792
299     3.0  female   NaN    0.0    0.0    7.7500

[300 rows x 6 columns]

In [29]:
data_cleanxt["sex"] = le.fit_transform(data_cleanxt["sex"])

In [30]:
data_cleanxt = data_cleanxt.fillna(data_clean["age"].mean())

In [31]:
si.fit_transform(data_cleanxt)

array([[ 1.        ,  1.        , 36.        ,  0.        ,  0.        ,
        26.3875    ],
       [ 3.        ,  0.        , 29.83897783,  8.        ,  2.        ,
        69.55      ],
       [ 1.        ,  1.        , 29.83897783,  0.        ,  0.        ,
        50.        ],
       ...,
       [ 3.        ,  1.        , 13.        ,  4.        ,  2.        ,
        31.3875    ],
       [ 3.        ,  1.        , 29.83897783,  2.        ,  0.        ,
        21.6792    ],
       [ 3.        ,  0.        , 29.83897783,  0.        ,  0.        ,
         7.75      ]])

In [84]:
x_test=data_cleanxt[input_cols]

     pclass  sex        age  sibsp  parch      fare
0       1.0    1  36.000000    0.0    0.0   26.3875
1       3.0    0  29.838978    8.0    2.0   69.5500
2       1.0    1  29.838978    0.0    0.0   50.0000
3       2.0    1  34.000000    0.0    0.0   13.0000
4       2.0    1  28.000000    0.0    0.0   13.0000
5       2.0    0  31.000000    1.0    1.0   26.2500
6       1.0    1  40.000000    0.0    0.0   27.7208
7       3.0    1  29.838978    0.0    0.0    7.2292
8       3.0    1  22.000000    0.0    0.0    8.0500
9       1.0    1  30.000000    0.0    0.0   45.5000
10      3.0    1  29.838978    0.0    0.0    7.2250
11      3.0    1  29.838978    1.0    0.0   24.1500
12      1.0    1  31.000000    0.0    0.0   28.5375
13      3.0    1  29.838978    0.0    0.0    8.0500
14      2.0    0  19.000000    1.0    0.0   26.0000
15      3.0    1  29.838978    0.0    0.0    7.5500
16      3.0    1  29.838978    1.0    0.0    7.7500
17      2.0    0  34.000000    0.0    0.0   10.5000
18      3.0    0  29.838978    0.0    0.0    7.8792
19      2.0    1  16.000000    0.0    0.0   10.5000
20      1.0    0  22.000000    0.0    0.0  151.5500
21      3.0    1  21.000000    0.0    0.0    7.7500
22      3.0    0  39.000000    1.0    5.0   31.2750
23      2.0    1  19.000000    0.0    0.0   10.5000
24      3.0    1  26.000000    2.0    0.0    8.6625
25      2.0    0  44.000000    1.0    0.0   26.0000
26      3.0    0  21.000000    2.0    2.0   34.3750
27      3.0    0  29.838978    0.0    0.0    7.2250
28      1.0    0  42.000000    0.0    0.0  227.5250
29      1.0    1  29.838978    0.0    0.0   30.6958
..      ...  ...        ...    ...    ...       ...
270     2.0    0  42.000000    0.0    0.0   13.0000
271     1.0    1  24.000000    1.0    0.0   82.2667
272     3.0    1  27.000000    0.0    0.0    7.2250
273     1.0    1  42.000000    0.0    0.0   42.5000
274     3.0    0  41.000000    0.0    2.0   20.2125
275     3.0    1  29.838978    0.0    0.0    7.7500
276     3.0    1  33.000000    0.0    0.0    9.5000
277     1.0    1  29.838978    0.0    0.0   39.6000
278     2.0    0  28.000000    1.0    0.0   24.0000
279     3.0    1  32.000000    0.0    0.0    8.3625
280     3.0    0   4.000000    0.0    1.0   13.4167
281     3.0    1  29.838978    0.0    0.0    7.7500
282     2.0    0  41.000000    0.0    1.0   19.5000
283     1.0    1  36.000000    1.0    2.0  120.0000
284     3.0    0  29.838978    0.0    0.0    7.7792
285     1.0    1  55.000000    0.0    0.0   50.0000
286     3.0    1  27.000000    0.0    0.0    8.6625
287     1.0    0  22.000000    0.0    2.0   49.5000
288     1.0    0  40.000000    1.0    1.0  134.5000
289     1.0    1  45.000000    1.0    0.0   83.4750
290     3.0    0  22.000000    0.0    0.0    7.7250
291     1.0    1  25.000000    1.0    0.0   55.4417
292     3.0    0  37.000000    0.0    0.0    7.7500
293     3.0    1  36.500000    1.0    0.0   17.4000
294     2.0    1  30.000000    0.0    0.0   13.0000
295     3.0    0  29.000000    0.0    0.0    7.9250
296     1.0    0  39.000000    1.0    1.0   83.1583
297     3.0    1  13.000000    4.0    2.0   31.3875
298     3.0    1  29.838978    2.0    0.0   21.6792
299     3.0    0  29.838978    0.0    0.0    7.7500

[300 rows x 6 columns]

In [32]:
y_predx = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [33]:
y_pred = le.fit_transform(y_pred)

In [34]:
df3=pd.DataFrame(y_pred,columns=["survived"])

In [35]:
df3.to_csv?

In [36]:
df3.to_csv("predictionst.csv",index_label="Id")

In [38]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
d=DecisionTreeClassifier?

In [47]:
d=DecisionTreeClassifier(criterion='entropy')

In [42]:
d.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [44]:
d.score(X,Y)

0.9702675916749257

In [46]:
from sklearn.model_selection import train_test_split
xt,xx,yt,yy=train_test_split(X,Y,test_size=0.3)

In [49]:
d.fit(xt,yt)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [51]:
p=d.predict(xx)